.cardWrapper{
    color: white !important;
}
.cardWrapper svg{
    color: white !important;
}

.cardHeaderWrapper{
    background-color: var(--step1-main);
    font-size: 16px !important;
}

.cardMediaWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    background-color: var(--step1-secondary);
    
}

.cardContentWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.cardContentItemWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    color: white !important;

    
}

.cardActionsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--step1-main);


}