.cardWrapper{
    color: white !important;
}


.heartIcon {
    color: red !important;
}
.cardHeaderWrapper{
    background-color: var(--secondary-color);
    font-size: 16px !important;
}

.cardMediaWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--step-secondary);

    
}

.cardContentWrapper{
    display: flex;
    justify-content: center;
    background-color: var(--step-secondary);
    border-top: 1px dashed var(--secondary-color);
    padding: 5px 0;
    color: var(--main-color);

}

.cardDetailsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;

}

.cardDetailsItemWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    color: white !important;

    
}

.cardActionsWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);

}