.cardWrapper{
    color: white !important;
}


.heartIcon {
    color: white !important;
}
.cardHeaderWrapper{
    background-color: var(--main-color);
    font-size: 16px !important;
}

.cardMediaWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--step-secondary);
}



.cardContentWrapper{
    display: flex;
    justify-content: center;
    background-color: var(--step-secondary);
    border-top: 1px dashed var(--main-color);
    padding: 5px 0;
    color: var(--main-color);

}

.cardDetailsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 1px; */
    align-items: center;

}

.cardDetailsItemWrapper{
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
    align-items: center;
    color: white !important;

    
}

.cardActionsWrapper{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    background-color: var(--main-color);

}